@model DatingApps.Models.User
@{
    ViewBag.Title = "UserPage";
}
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h2>プロフィール</h2>
    <div>
        <div>
            @Html.Encode(ViewData["id"])
        </div>
        <div>
            <p>@Html.DisplayTextFor(m => Model.Sex);</p>
            <p>@Html.EditorFor(m => Model.Name);<>
        </div>
        <div>
            @Html.EditorFor(m => Model.BirthDay);
        </div>
        <div>
            @Html.TextAreaFor(m => Model.Comment);
        </div>
    </div>
    <div>
        <button type="button" onclick= @Url.Action("Search","Home")>探す</button>
    </div>
</body>



